{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="col-md-12" >
        <div class="card wizard-card" data-color="orange" id="wizardProfile" >
            <div class="card-header card-header-icon" data-background-color="blue">
                <i class="material-icons">accessibility</i>
            </div>
            {% if form.errors %}
			<div class="alert alert-danger alert-with-icon" data-notify="container">
				<i class="material-icons" data-notify="icon">notifications</i>
				<button type="button" aria-hidden="true" class="close">
					<i class="material-icons">close</i>
				</button>
				<span data-notify="message">{{form.errors}}</span>
			</div>
			{% endif%}
            <form method="POST" enctype="multipart/form-data" >{% csrf_token %}
                <div class="card-content">
                    <h4 class="card-title">Formulario para el registro de un <strong>Domicilio</strong></h4>
                    
                   
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-sm-6">
                                
                                <div class="form-group label-floating">
                                    <label class="form-control-static">Fecha</label>
                                    {{form.fecha}}
                                </div>
                                <div class="form-group label-floating">
                                    <label class="control-label">Direccion</label>
                                    {{ form.direccion }}
                                </div>
                                <div class="form-group label-floating">
                                    <label class="control-label">Servicio</label>
                                    {{form.servicio}}
                                </div>
                                
                                
                                <div class="form-group label-floating">
                                    <label class="control-label">Valor</label>
                                    {{ form.valor }}
                                </div>
                                
                            </div>
                            
                            <div class="col-sm-6">
                                <div class="form-group label-floating">
                                    <label class="control-label">Cliente</label>
                                    {{ form.cliente }}
                                </div>
                                
                                <div class="form-group label-floating">
                                    <label class="control-label">Teléfono</label>
                                    {{ form.telefono }}
                                </div>
                                <div class="form-group label-floating">
                                    <label class="form-control-static">Técnico</label>
                                    {{form.tecnico}}
                                </div>
                                <div class="form-group label-floating">
                                    <label class="control-label">Estado</label>
                                    {{ form.estado }}
                                </div>
                            </div>
                        </div>
                    </div>

                   

                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-success">Enviar</button>
                    <a href="{% url 'lista_empleados' %}" class="btn btn-danger">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}