{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-icon" data-background-color="purple">
                    <i class="material-icons">accessibility</i>
                </div>
                <div class="card-content">
                    <h4 class="card-title">Lista de <strong>Domicilios</strong>. 
                        &nbsp;&nbsp;&nbsp;<a href="{% url 'crear_domicilio' %}" class="btn btn-success btn-sm"> Nuevo Domicilio</a>
                    </h4>
                    <div class="toolbar">
                        <!--        Here you can write extra buttons/actions for the toolbar              -->
                        
                    </div>
                    <div class="material-datatables">
                        <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Dirección</th>
                                    <th>Cliente</th>
                                    <th>Teléfono</th>
                                    <th>Técnico</th>
                                    <th>Estado</th>
                                    
                                    <th class="disabled-sorting text-right">Acciones</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                {% for c in domicilios %}
                                <tr>
                                    <td>{{ c.fecha }}</td>
                                    <td>{{ c.direccion }}</td>
                                    <td>{{ c.cliente }}</td>
                                    <td>{{ c.telefono }}</td>
                                    <td>{{ c.tecnico }}</td>
                                    <td>{{ c.estado }}</td>
                                    
                                    
                                    <td class="text-right">
                                        
                                    
                                          <a href="{% url 'modificar_empleado' p.identificacion %}" rel="tooltip" title="Modificar Empleado" class="btn btn-simple btn-info btn-icon like "><i class="material-icons">person</i></a>
                                       
                                          <a href="{% url 'eliminar_empleado' p.identificacion %}" rel="tooltip" title="Eliminar Empleado" class="btn btn-simple btn-danger btn-icon remove"><i class="material-icons">close</i></a>
                                    </td>
                                    
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- end content-->
            </div>
            <!--  end card  -->
        </div>
        <!-- end col-md-12 -->
    </div>
    <!-- end row -->
</div>
{% endblock %}