{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-icon" data-background-color="rose">
                <i class="material-icons">content_paste</i>
            </div>
            <div class="card-header">
                <h4 class="card-title">Editar informacion de: <b> {{ object.referencia}} - {{ object.descripcion}}  </b> </strong></h4>
            </div>
            {% if form.errors %}
			<div class="alert alert-danger alert-with-icon" data-notify="container">
				<i class="material-icons" data-notify="icon">notifications</i>
				<button type="button" aria-hidden="true" class="close">
					<i class="material-icons">close</i>
				</button>
				<span data-notify="message">{{form.errors}}</span>
			</div>
			{% endif%}
            <form method="POST" enctype="multipart/form-data" >{% csrf_token %}
                <div class="card-content">
                    <div class="col-sm-6 col-lg-3">
                        <div class="form-group label-floating">
                            <legend>Imagen de Perfil</legend>
                            <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                <div class="fileinput-new thumbnail img-circle">
                                    <img src="{% static '/img/placeholder.jpg' %}" alt="...">
                                </div>
                                
                                {{form.fotografia}}
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-xs-8">
                         <div class="form-group label-floating">
                            <label class="control-label">Referencia</label>
                            {{ form.referencia }}
                        </div>
                        <div class="form-group label-floating">
                            <label class="control-label">Descripcion</label>
                            {{ form.descripcion }}
                        </div>
                        <div class="form-group label-floating">
                            <label class="control-label">Familia</label>
                            {{ form.familia }}
                        </div>
                        <div class="form-group label-floating">
                            <label class="control-label">Estante</label>
                            {{ form.estante }}
                        </div>
                    </div>
                    
                    <div class="col-sm-12">
                        
                        <div class="form-group label-floating">
                            <label class="control-label">Costo</label>
                            {{form.costo}}
                        </div>
                        <div class="form-group label-floating">
                            <label class="form-control-static">Precio Unitario</label>
                            {{form.precio_unit}}
                        </div>
                        
                        <div class="form-group label-floating">
                            <label class="control-label">Stock Minimo</label>
                            {{ form.stock_minimo }}
                        </div>
                        <div class="form-group label-floating">
                            <label class="control-label">Observacion</label>
                            {{ form.observacion }}
                        </div>
                    </div>
                    
                </div>
                
                
                <div class="card-footer">
                    <button type="submit" class="btn btn-success">Enviar</button>
                    <a href="{% url 'lista_productos' %}" class="btn btn-danger">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}