{% extends 'base.html' %} 
{% block content %}

<form action=""method="post">{% csrf_token %}
    
    <div class="modal-dialog modal-small ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
            </div>
            <div class="modal-body text-center">
                <h5>¿Esta seguro que desea eliminar el Producto? </h5><br>
                <h5>Referencia: <strong>{{ object.referencia }}</strong></h5>
                <h5>Descripcion: {{object.descripcion}}</h5>
                <h5>Estante: {{object.estante}}</h5>
                <h5>Familia: {{object.familia}}</h5>
                
            </div>
            <div class="modal-footer text-center">
                <input  class="btn btn-danger btn-simple" type="submit" value="Aceptar" />
                <a href="{% url 'lista_productos' %}" class="btn btn-success btn-simple">Cancelar</a>
            </div>
        </div>
    </div>
    
</form>

{% endblock content %}