{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-icon" data-background-color="purple">
                    <i class="material-icons">content_paste</i>
                </div>
                <div class="card-content">
                    <h4 class="card-title">Lista de <strong>Productos</strong>.</h4>
                    <div class="toolbar">
                        <!--        Here you can write extra buttons/actions for the toolbar              -->
                    </div>
                    <div class="material-datatables">
                        <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Referencia</th>
                                    <th>Descripcion</th>
                                    <th>Costo Unidad</th>
                                    <th>Stock <br> Minimo</th>
                                    <th>Estante</th>
                                    <th>Familia</th>
                                    
                                    <th class="disabled-sorting text-right">Acciones</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                {% for p in productos %}
                                <tr>
                                    <td>{{ p.referencia}}</td>
                                    <td>{{ p.descripcion}}</td>
                                    <td>{{ p.precio_unit}}</td>
                                    <td>{{ p.stock_minimo}}</td>
                                    <td>{{ p.familia}}</td>
                                    <td>{{ p.estante}}</td>
                                   
                                    
                                    <td class="text-right">
                                        
                                        <a href="{% url 'modificar_producto' p.id %}" class="btn btn-simple btn-info btn-icon like"><i class="material-icons">person</i></a>
                                        <a href="{% url 'eliminar_producto' p.id %}" class="btn btn-simple btn-danger btn-icon remove"><i class="material-icons">close</i></a>
                                    </td>
                                    
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- end content-->
            </div>
            <!--  end card  -->
        </div>
        <!-- end col-md-12 -->
    </div>
    <!-- end row -->
</div>
{% endblock %}