{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="col-md-12" >
        <div class="card wizard-card" data-color="orange" id="wizardProfile" >
            <div class="card-header card-header-icon" data-background-color="blue">
                <i class="material-icons">accessibility</i>
            </div>
            {% if form.errors %}
			<div class="alert alert-danger alert-with-icon" data-notify="container">
				<i class="material-icons" data-notify="icon">notifications</i>
				<button type="button" aria-hidden="true" class="close">
					<i class="material-icons">close</i>
				</button>
				<span data-notify="message">{{form.errors}}</span>
			</div>
			{% endif%}
            <form method="POST" enctype="multipart/form-data" >{% csrf_token %}
                <div class="card-content">
                    <h4 class="card-title">Formulario para el registro de un <strong>Empleado</strong></h4>
                    
                    <div class="col-sm-6 col-lg-3">
                        <div class="form-group label-floating">
                            <legend>Imagen de Perfil</legend>
                            <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                <div class="fileinput-new thumbnail img-circle">
                                    <img src="{% static '/img/placeholder.jpg' %}" alt="...">
                                </div>
                                
                               {{form.fotografia}}
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-xs-8">
                        <div class="form-group label-floating">
                            <label class="control-label">Tipo de identificacion</label>
                            {{form.tipo}}
                        </div>
                        <div class="form-group label-floating">
                            <label class="control-label">Identificacion</label>
                            {{ form.identificacion }}
                        </div>
                        <div class="form-group label-floating">
                            <label class="control-label">Nombres</label>
                            {{ form.nombres }}
                        </div>
                        <div class="form-group label-floating">
                            <label class="control-label">Apellidos</label>
                            {{ form.apellidos }}
                        </div>
                        
                        
                    </div>
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-sm-6">
                                
                                <div class="form-group label-floating">
                                    <label class="control-label">Cargo</label>
                                    {{form.cod_cargo}}
                                </div>
                                <div class="form-group label-floating">
                                    <label class="form-control-static">Fecha de nacimiento</label>
                                    {{form.fecha_nac}}
                                </div>
                                
                                <div class="form-group label-floating">
                                    <label class="control-label">Contacto</label>
                                    {{ form.contacto }}
                                </div>
                                <div class="form-group label-floating">
                                    <label class="control-label">Observacion</label>
                                    {{ form.observacion }}
                                </div>
                            </div>
                            
                            <div class="col-sm-6">
                                <div class="form-group label-floating">
                                    <label class="control-label">Lugar de nacimiento</label>
                                    {{ form.lugar_nac }}
                                </div>
                                <div class="form-group label-floating">
                                    <label class="control-label">Direccion</label>
                                    {{ form.direccion }}
                                </div>
                                <div class="form-group label-floating">
                                    <label class="control-label">Email</label>
                                    {{ form.email }}
                                </div>
                                
                                <div class="form-group label-floating">
                                    <label class="control-label">EPS</label>
                                    {{ form.eps }}
                                </div>
                                <div class="form-group label-floating">
                                    <label class="control-label">ARL</label>
                                    {{ form.arl }}
                                </div>
                                <div class="form-group label-floating">
                                    <label class="control-label">Pension</label>
                                    {{ form.pension }}
                                </div>
                                <div class="form-group label-floating">
                                    <label class="control-label">Cesantias</label>
                                    {{ form.cesantias }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-success">Enviar</button>
                    <a href="{% url 'lista_empleados' %}" class="btn btn-danger">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}