{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-icon" data-background-color="rose">
                <i class="material-icons">commute</i>
            </div>
            {% if form.errors %}
			<div class="alert alert-danger alert-with-icon" data-notify="container">
				<i class="material-icons" data-notify="icon">notifications</i>
				<button type="button" aria-hidden="true" class="close">
					<i class="material-icons">close</i>
				</button>
				<span data-notify="message">{{form.errors}}</span>
			</div>
			{% endif%}
            <form method="POST" >{% csrf_token %}
                <div class="card-content">
                    <h4 class="card-title">Formulario para el registro de un <strong>Proveedor</strong></h4>
                    <br><br>
                    <div class="col-xs-12">
                        
                        
                        <div class="form-group label-floating">
                            <label class="control-label">Tipo de identificacion</label>
                            {{form.tipo}}
                        </div>
                        <div class="form-group label-floating">
                            <label class="control-label">Identificacion</label>
                            {{ form.ide }}
                        </div>
                        <div class="form-group label-floating">
                            <label class="control-label">Tipo de Persona</label>
                            {{form.tipo_persona}}
                        </div>
                        <div class="form-group label-floating">
                            <label class="control-label">Razon Social</label>
                            {{ form.razon_social }}
                        </div>
                        
                    </div>
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-sm-12">
                                
                                <div class="form-group label-floating">
                                    <label class="control-label">Contacto</label>
                                    {{ form.contacto }}
                                </div>
                                <div class="form-group label-floating">
                                    <label class="control-label">Email</label>
                                    {{ form.email }}
                                </div>
                                <div class="form-group label-floating">
                                    <label class="control-label">Direccion</label>
                                    {{ form.direccion }}
                                </div>
                                <div class="form-group label-floating">
                                    <label class="control-label">Observacion</label>
                                    {{ form.observacion }}
                                </div>
                                
                            </div>
                          
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-success">Enviar</button>
                    <a href="{% url 'lista_proveedores' %}" class="btn btn-danger">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}