{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="card">
    <div class="card-header card-header-tabs" data-background-color="orange">
        <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
                <h3 class="card-title">Lista de Estantes</h3>
            </div>
            
        </div>
        
    </div>
    
    <div class="card-content">
        <a href="{% url 'gestionSoftware' %}">
            <button type="button" rel="tooltip" title="Volver a Gestion" class="btn btn-primary btn-fab-mini ">
                <i class="material-icons">
                    keyboard_return
                </i>
            </button>
        </a>
        <div class="tab-content">
            
            <table class="table">
                <tbody>
                    
                    {% for p in Estante %}
                    <tr>
                        <td>{{p.ide}}</td>
                        <td>{{p.nombre}}</td>
                        
                        <td class="td-actions text-right">
                            <a href="{% url 'modificar_Estante' p.id %}">
                                <button type="button" rel="tooltip" title="Editar" class="btn btn-primary btn-simple btn-xs">
                                    <i class="material-icons">edit</i>
                                </button>
                            </a>
                            <a href="{% url 'eliminar_Estante' p.id %}">
                                <button type="button" rel="tooltip" title="Eliminar" class="btn btn-danger btn-simple btn-xs">
                                    <i class="material-icons">close</i>
                                </button>
                            </a>
                            
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                
                
            </table>
            
            
            
        </div>
    </div>
</div>

{% endblock %}